<link rel="stylesheet" href="/static/css/styles.css">

<hr>
{{#if user}}
    <div class="userContainer">
        <p class="userTitle">Welcome, {{user.firstName}} {{user.lastName}}</p>
    </div>
    {{/if}}
<div class="mainContainer">
    <div id="productContainer">
    {{#each products}}
        <div class="card">
        <img class="cardImg" src=static{{this.thumbnail}}>
        <p class="cardTitle">{{this.title}}</p>
        <p class="cardPrice">${{this.price}}</p>
        <button class="addToCart" data-id={{this.id}}>Add to Cart</button>
        </div>
    {{/each}}
    </div>
</div>
<div class="buttonContainer">
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">
        <button id="loadLess">Previous Page</button>
    </a>
     {{/if}}
    {{#if hasNextPage}}  
    <a href="/products?page={{nextPage}}">
        <button id="loadMore">Next Page</button>
    </a>
    {{/if}}
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/home.js"></script>